<?xml version="1.0"?>
<!-- 框架版本：NetDF2.0  架构设计与开发、版权所有者：李青锦 QQ：3425806176  技术网站：软艺软件(www.ruanyi.online) 技术交流群：826373349  -->
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
      
      <!-- 连接字符串是否加密 -->
      <add key="ConStringEncrypt" value="false"/>
      <!-- 数据库连接字符串 
      如果使用明文这样server=(local);database=.....,上面则设置为false。 -->
      <add  key="ConnStr" value="Data Source=.;Initial Catalog=NetDF_DB;Persist Security Info=True;User ID=sa;password=12345678" />

       
      <!--虚拟目录名称(如果是站点，则为空) -->
      <add key="VirtualPath" value=""/>
      <!--网站域名，本地目录可以用.   -->
      <add key="WebURL" value=""/>

      <!--实体对象内容缓存的时间（分钟）-->
       
      <add key="SystempConfigFile" value="~/Config/System.xml"/>
      <add key="LogFileFolder" value="/Log/" />

      <!-- 后台首页 -->
      <add key="BackgroundFirstPage" value="~/Manage/Layout/index.htm"/>
      <!-- 是否在开发测试 -->
      <add key="IsDebug" value="false"/>
      <add key="DefaultLoginID" value="admin"/>
      <add key="Pass" value="123"/>

      <!-- 日志记录到文件 -->
      <add key="LogToFile" value="true" />
      <!-- 日志记录到数据库 -->
      <add key="LogToDB" value="true" />

    <!-- 附件文件目录 -->
    <add key="AttachmentFileFoler" value="~/UploadFiles"/>

      <!--文件服务器的URL-->
      <add key="FileFolerInFileServer" value="http://fserver.xxx.net/web"/>
      <!--网站存放上传附件的目录-->
      <add key="FileFolerInWebServer" value="~/Files"/>
      <!--文件服务器的用户名-->
      <add key="SharedFoler_UserName" value="web"/>
      <!--文件服务器的密码-->
      <add key="SharedFoler_Password" value=""/>



  </appSettings>
  <system.web>
      <pages>
          <controls>
              <add assembly="AppWebUI" namespace="AppWebUI.WebControls" tagPrefix="WC"/>
          </controls>
      </pages>
    <compilation debug="true" targetFramework="4.0" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
