<?xml version="1.0"?>
<!-- 框架版本：NetDF2.0  架构设计与开发、版权所有者：李青锦 QQ：3425806176  技术网站：软艺软件(www.ruanyi.online) 技术交流群：826373349  -->
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 解决方案所在目录 后面不要带 "\" 号 -->
    <add key="SolutionPath" value=""/>
    <!--  WEB  Start -->
    <add key="ConnStr" value="Data Source=.;Initial Catalog=NetDF_DB;Persist Security Info=True;User ID=sa;password=12345678"/>
    <add key="WebName" value="WEB"/>
    <!--  WEB  End -->
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  
</configuration>